* {
    background-color: #d1dceb !important;
}
.error_pages{background-color: #fff;}
.err_page_pn{margin-bottom: 0px !important;padding: 0px 15px !important;}
.main_area_report{max-width: 1163px;margin-top: 30px;font-family: 'Poppins', sans-serif;
    font-weight:300;}
.custom_advertising{
    background-color: #88ade4;
    min-height: 359px;
    border-radius: 26px;
    padding: 0px 33px;
}
.main_heading{font-size: 32px;}
.main_desc{font-size: 16px;}
.ad_contact{
    min-width: 164px;
    height: 47px;
    border-radius: 14px;
    background-color: #1E70B9;
    font-size: 16px;
    font-weight: 500;
}
.why_us{border-radius: 16px;min-height: 251px;padding: 26px;}
.why_us_heading{font-size: 20px;margin: 15px 0px 5px 0px;}
.why_us_desc{font-size: 14px;}
.our_audience_heading{font-size: 28px;}
.our_audience_desc{font-size: 16px;}
.our_audience{font-size: 17px;}
.get_started{
    background: url('../webimages/advertise11.png');
    max-width: 963px;
    min-height: 233px;
    background-repeat: no-repeat;
    border-radius: 26px;
    background-size: cover;
}
.get_started_heading{font-size: 26px;font-weight: 500;}
.get_started_desc{font-size: 14px;}
.advertise_contact_btn{
    min-width: 152px;
    height: 40px;
    border-radius: 12px;
    color: #3C93E0;
    font-size: 14px;
    font-weight: 500;
}
.modal-xl {max-width: 1140px !important;}
button.close {
    opacity: 1;
    font-size: 28px;
    font-weight: 100;
    margin: -12px -9px -11px auto !important;
}
.modal_heading{font-size: 32px;}
.modal_desc{font-size: 16px;}
.main_outer{
    border-radius: 22px;
    box-shadow: 0px 0px 20px 1px #efefef;
}
.modal-body{padding-top: 0px !important;}
.model_inn_heading{font-size: 20px;border-bottom: 1px solid #efefef;}
.model_form_heading{font-size: 14px;font-weight: 500;color: #6B6B6B;}
.model_form_inp{
    background-color: #FBFBFB;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
}
select.model_form_inp option[disabled]:first-child {display: none;}
select.cus_select{line-height: 15px;}
.model_advertise_btn{
    min-width: 291px;
    height: 50px;
    background-color: #1E70B9;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
}
@media only screen and (max-width: 767px) {
    .custom_advertising{padding: 40px 0px;}
    .main_heading{font-size: 20px;}
    .main_desc{font-size: 14px;}
    .why_us_heading{font-size: 18px;}
    .why_us{min-height: 198px;}
    .our_audience_heading {font-size: 26px;}
    .modal_heading {font-size: 28px;line-height: 36px;}
    .model_inn_heading {font-size: 18px;}
}