* {
    background-color: #fafdff !important;
}
.ip_res_head{font-size: 16px !important;}
.ip_res{font-size: 14px;}
.ip_res .box_w1{width: 32%;position: relative;}
.ip_res .box_w2{width: 17%;}
.ip_res_media{
    position: absolute;
    width: 500px;
    left: 10px;
    z-index: 1;
    box-shadow: 0px 0px 2px 1px #E3E7ED;
    display:none;
    border-bottom: 4px solid #1E70B9;
}
.ip_res_media div:nth-child(odd){
    font-size: 15px;
    font-weight: 700;
}
.ip_res_media div:nth-child(even){
    font-size: 14px;
    font-weight: 600;
}
.dage_toggle{
    background-image: url(../webimages/ip_address1.svg);
    min-width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #1E70B9;
}
.dage_rotate{transform: rotate(180deg);}
@media only screen and (max-width: 767px) {
    .ip_res .box_w1{width: 70%}
    .ip_res .box_w2{width: 30%}
    .ip_res .mdb{display: block !important;}
    .ip_res .mdn{display: none !important;}
    .ip_res_media{width: 260px;}
}