* {
    background-color: #d1dceb !important;
}
.main_area_report{width: 1000px;}
.main_area_report .card-link{
    font-size: 16px;
    min-height: 56px;
}
.main_area_report .card-link .dropdown{
    min-width: 28px;
    height: 28px;
}
@media only screen and (max-width: 767px) {
	.main_area_report{width: 100%;}
}