* {
    /* Apply background color globally except to buttons and form controls */
*:not(button):not(input):not(select):not(textarea):not(.btn):not([type="submit"]) {
  background-color: #f7f7f7 !important;
}
!important;
}
.ip_res_head{font-size: 16px !important;}
.ip_res{font-size: 14px;font-weight: 600;}
.ip_res .box_w1{width: 8%;}
.ip_res .box_w2{width: 72%;}
.ip_res .box_w3{width: 20%;}
.exp_rclr{color: #ea5050}
.exp_gclr{color: #55B844}
.tool_heading {margin-bottom:21px;}
@media only screen and (max-width: 767px) {
    .scroll_w{width: 750px;}
}