* {
    background-color: #fafdff !important;
}
.input_section .inp_w400{width: 500px;}
.tool_inp_sty{height: 60px;}
.tool_inp_sty::placeholder{font-size: 16px;font-weight: 400;}
.bg_f6f8fa{background-color: #F0F3F6;}
.iid_res_heading{font-size: 16px;}
.status_bar{
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
}
.status_bar.up{
    background: #f4fcf6;
    border: 1px solid #c6ecc7;
    color: #55b269;
}
.status_bar.down{
    background: #fff5f3;
    border: 1px solid #f1e1df;
    color: #da2c2c;
}
.status_bar div span{
    padding: 2px 6px;
    border-radius: 5px;
    color: #fff;
}
.status_bar.up span{
    background-color: #5cc172;
    color: #fff;
}
.status_bar.down span{
    background-color: #b72828;
}
.history_heading{
    border: 1px solid #e3e7ed;
    padding: 0px;
}
.history_heading h2{
    background-color: #f6f8fa;
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #e3e7ed;
    font-weight: 600;
    margin-bottom: 0px;
}
.server_status{
    border: 1px solid #e3e7ed;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.server_status_box{
    width: 50%;
    border: 1px solid #e3e7ed;
}
.server_status_box_row{
    display: grid;
    grid-template-columns: 190px 90px 80px;
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #e3e7ed;
}
.server_status_box_row:first-child{
    background-color: #f6f8fa;
    font-weight: 600;
}
.server_status_box_row:last-child{border-bottom: none;}
.server_status_box_row span{
}
@media only screen and (max-width: 767px) {
    .iid_res_heading{font-size: inherit;}
    .tool_inp_sty{height: 46px;}
    .server_status{display:block;}
    .server_status_box{
        width:100%;
        margin-bottom:10px;
    }
    .server_status_box_row{
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
}