* {
    background-color: #d1dceb !important;
}
.key_difficulty span{
	color: #1E70B9;
    font-size: 22px;
}
.key_difficulty input{height: 41px;}
.key_difficulty input::placeholder{color: #000;font-size: 13px;}
.keydif_box1{width: 50%;border-right: 1px solid #E3E7ED;}
.ikeydif_box1{font-size: 16px;}
.ikeydif_box2{font-size: 14px;min-width: 45px;}
.ikeydif_box2.bg1{background-color: #E1E5EB;}
.ikeydif_box2.bg2{background-color: #0A57BF;}
.ikeydif_box2.bg3{background-color: #D54B56;}
.ikeydif_box2.bg4{background-color: #261D96;}
.key_difficulty2{
	color: #31708F;
	background-color: #D9EDF7;
	border: 1px solid #BFDAE0;
}
.key_difficulty2 a{
	background-color: #5BC0DE;
	border: 1px solid #46B8DA;
}
.semrush_banner{
    background-image: url(../webimages/semrush_banner.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 227px;
    background-position: center;
    background-size: contain;
}
.semrush_text .txt1{font-size: 24px;}
.semrush_text .txt2{font-size: 16px;}
.semrush_text a{
    font-size: 16px;
    height: 40px;
    background:#EA5050;
}
@media only screen and (max-width: 767px) {
	.keydif_box1{
		width: 100%;
		border-right: none;
		border-bottom: 1px solid #E3E7ED;
	}
	.mdb{display: block !important;}
	.keydif_box1:last-child {border-bottom: none;}
	.semrush_text .txt1{font-size: 20px;}
    .semrush_text .txt2, .semrush_text a{font-size: 14px;}
	.keydif_box1.py-2{
		padding-bottom: 1rem !important;
		padding-top: 1rem !important;
	}
	.key_difficulty2 a{
		margin-top: 0.5rem !important;
	}
}