
body{
    font-family: nunito sans, sans-serif;
    font-weight:400;
    background-color: #fff
}
.fw_700{font-weight: 700}
.fw_600{font-weight: 600}
.fw_500{font-weight: 500}
.bg_f6f8fa{background-color: #F6F8FA}
.border1{border: 1px solid #E3E7ED}
.cus_nav{width: 100%;padding: 0rem 1rem !important;}
.cus_nav .nav-link{color: #000 !important;font-size: 14px;}
.navbar-toggler .toggle_icon{
    width: 24px;
    height: 18px;
    background-repeat: no-repeat;
    color: #000
}
.navbar-toggler.collapsed .toggle_icon{background-image: url(../webimages/toggle_icon.svg)}
.navbar-toggler .toggle_icon:after{content: '\2716';font-size: 21px}
.navbar-toggler.collapsed .toggle_icon:after{content:''}
.pro_pricing .pro_pricing_bg{
    background-color: #564190;
    width: 125px;
    color: #fff !important;
    margin-right:10px
}
.pro_pricing.pricing .pro_pricing_bg{background-color: #564190;background-image: none;text-indent: 0;height: 48px;font-size: 20px}
.pro_pricing.pricing img{height: 100%}
.nav-item:hover.br_hover,.nav-item.br_active{border-bottom: 2px solid #EA5050;margin-bottom: -8px}
.day_night{
    width: 50px;
    height: 60px;
    position: absolute;
    top:94px;
    right: 0px;
    font-size: 12px;
    z-index:3;
}
.dn_mode{
    background-image: url(../webimages/day_mode.svg);
    width:17px;
    height:17px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.day_night .switch {
    position: relative;
    width: 34px;
    height: 18px;
}
.day_night .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #202223;
    -webkit-transition: .4s;
    transition: .4s;
}
.day_night .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 15px;
    left: 2px;
    bottom: 1px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
.day_night input:checked + .slider {background-color: #FF9900;}
.day_night input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: #fff;
}
.day_night .slider.round {border-radius: 34px;}
.cus_nav .lang_btn{
    /* min-width: 112px; */
    height: 34px;
    font-size: 12px;
    justify-content: space-evenly;
    border: 1px solid #EA5050
}
.cus_nav .lang_btn #toggle_it{
    background-image: url(../webimages/lang_dchevron.svg);
    background-repeat: no-repeat;
    width: 13px;
    height: 8px
}
.cus_nav .lang_btn:hover {background-color: #FFF6F6;border-color: #EFD8D8}
.cus_nav .lang_btn #toggle_it{transform: rotate(0deg)}
.cus_nav .lang_btn.show #toggle_it{transform: rotate(180deg)}
.cus_nav .lang_btn.show{background-color: #FFF6F6;border-color: #EFD8D8}
.lang_btn .dropdown-toggle::after, .user_profile .dropdown-toggle::after{display:none;}
.lang_btn.dropdown .btn:focus, .user_profile.dropdown .btn:focus{box-shadow: none !important;}
.cus_nav .lang_drop{
    left: auto;
    right: 0;
    top: 30px;
    font-size: 12px;
    font-weight: 600;
    color: #404040;
    width: 20rem
}
.mob_lang_link .dropdown-item:focus,.mob_lang_link .dropdown-item:hover{background-color: initial}
.lang_drop{display: none;}
.lang_drop .dropdown-divider{border-color: #E3E7ED}
.lang_drop .dropdown-item.active_lang,.mob_lang_link .dropdown-item.active_lang{
    background-color: #1e70b9;
    color: #fff
}
.lang_drop .dropdown-item.active_lang span,.mob_lang_link .dropdown-item.active_lang span{margin-left:5px}
.countery-icons{
    min-width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 5px
}
.mw_lt{min-width: 130px;}
.countery-icons.rk-en{background-image: url(../webimages/flags/en_icon.svg)}
.countery-icons.rk-ru{background-image: url(../webimages/flags/ru_icon.svg)}
.countery-icons.rk-ja{background-image: url(../webimages/flags/ja_icon.svg)}
.countery-icons.rk-it{background-image: url(../webimages/flags/it_icon.svg)}
.countery-icons.rk-fr{background-image: url(../webimages/flags/fr_icon.svg)}
.countery-icons.rk-pt{background-image: url(../webimages/flags/pt_icon.svg)}
.countery-icons.rk-es{background-image: url(../webimages/flags/es_icon.svg)}
.countery-icons.rk-de{background-image: url(../webimages/flags/de_icon.svg)}
.countery-icons.rk-zh{background-image: url(../webimages/flags/zh_icon.svg)}
.countery-icons.rk-ar{background-image: url(../webimages/flags/ar_icon.svg)}
.countery-icons.rk-id{background-image: url(../webimages/flags/id_icon.svg)}
.countery-icons.rk-tr{background-image: url(../webimages/flags/tr_icon.svg)}
.countery-icons.rk-ko{background-image: url(../webimages/flags/ko_icon.svg)}
.countery-icons.rk-vi{background-image: url(../webimages/flags/vi_icon.svg)}
.countery-icons.rk-nl{background-image: url(../webimages/flags/nl_icon.svg)}
.countery-icons.rk-pl{background-image: url(../webimages/flags/pl_icon.svg)}
.countery-icons.rk-no{background-image: url(../webimages/flags/no_icon.svg)}
.countery-icons.rk-cs{background-image: url(../webimages/flags/cs_icon.svg)}
.countery-icons.rk-sv{background-image: url(../webimages/flags/sv_icon.svg)}
.countery-icons.rk-ro{background-image: url(../webimages/flags/ro_icon.svg)}
.countery-icons.rk-da{background-image: url(../webimages/flags/da_icon.svg)}
.countery-icons.rk-fi{background-image: url(../webimages/flags/fi_icon.svg)}
.countery-icons.rk-th{background-image: url(../webimages/flags/th_icon.svg)}
.countery-icons.rk-hi{background-image: url(../webimages/flags/hi_icon.svg)}
.countery-icons.rk-tl{background-image: url(../webimages/flags/tl_icon.svg)}
.cp{cursor: pointer}
.cus_scrollbar {
    height: 440px;
    font-size: 14px;
    color: #202020;
    overflow: auto;
    resize: none
}
.cus_scrollbar.border1{border:1px solid #E3E7ED !important}
.cus_scrollbar1{overflow-x: visible;overflow-y:hidden;height: auto !important}
.cus_scrollbar::-webkit-scrollbar-track {border-radius: 10px;background-color: #E3E7ED}
.cus_scrollbar::-webkit-scrollbar {width: 5px;height: 5px;background-color: transparent}
.cus_scrollbar::-webkit-scrollbar-thumb {border-radius: 10px;background-color: #767676}
:focus{outline: none !important;box-shadow: none !important;}
/*subscribe area*/
.main_fpt .sub_area{width: 1215px}
.sub_area .fs22{font-size: 22px}
.main_fpt .subs_inp{height: 48px;font-size: 13px}
.main_fpt .subs_button{
    min-width: 124px;
    height: 40px;
    background-color: #0162B8;
    font-size: 15px;
    font-weight: 600
}
.social_box a{
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}
.sub_facebook{background-image: url(../webimages/sub_facebook.svg)}
.sub_twitter{background-image: url(../webimages/sub_twitter.svg)}
.sub_linkedin{background-image: url(../webimages/sub_linkedin.svg)}
.sub_youtube{background-image: url(../webimages/sub_youtube.svg)}
.sub_reddit{background-image: url(../webimages/sub_reddit.svg)}
.sub_pinterest{background-image: url(../webimages/sub_pinterest.svg)}
.sub_instagram{background-image: url(../webimages/sub_instagram.svg)}
/*footer*/
.footer_links{color: #000;font-size: 13px}
.footer_links:hover{color: #000}
.fpop_tools a{width: 60px;height: 60px;background-color: #9FAEB6}
.fpop_tools a span{
    width: 37px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}
.f_api{background-image: url(../webimages/f_api.svg)}
.f_apple{background-image: url(../webimages/f_iphone.svg)}
.f_android{background-image: url(../webimages/f_android.svg)}
.f_desktop{background-image: url(../webimages/f_desktop.svg)}
.f_wordpress{background-image: url(../webimages/f_wordpress.svg)}
.for_footer_ad {height: 120px}
.sub_headings {font-size: 20px;font-weight: 500;color: #000}
.search_position{position: relative;}
.search_inp{height: 50px;color: #696D79 !important;}
.search_inp::placeholder {color: #696D79;}
.popular_tools .col{min-height: 30px;border-bottom: 1px solid #E3E7ED;}
.popular_tools .col a{color: #000;}
.popular_tools .col a:hover{text-shadow: 0 0 black;text-decoration: none}
.popular_tools {
    border: 1px solid #E3E7ED;
    right: 0px;
    top: 49px;
    font-size: 13px;
    color: #000;
}
.popular_tools .col:last-child, .mob_lang_link a:last-child {border: none;}
.popular_tools .col a:before{
    content: "\2022";
    color: #1E70B9;
    margin-right: 5px;
    font-size: 20px;
    line-height: 0px;
}
.pro_pricing_bg.dropdown-toggle::after{
    border: none;
    background-image: url('../webimages/pricing_chevron.svg');
    width: 20px;
    height: 12px;
    float: right;
    margin-top: 10px;
}
.pro_pricing_bg.dropdown-toggle.active::after{transform:rotate(180deg)}
.main_area{width:58%}
#accordion_content h2, #accordion_content h3, #accordion_content h4 {
    color: #222;
    margin-top: 20px;
}
#accordion_content strong{font-weight: 600;}
#accordion_content h2 {font-size: 26px;margin-top: 0;}
#accordion_content p{font-size:15px}
.sede_ara{width:300px}
.sub_headings {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}
#accordion_content a {
    color: #0A0475 !important;
    text-decoration: underline;
}
.pcn_pc {
    min-width: 224px;
    height: 56px;
    background-color: #0A57AE;
    font-size: 16px;
}
.pcn_dpc {
    min-width: 318px;
    background-color: #2B2D38;
}
.pcn_bg {
    min-height: 1020px;
    background-image: url(../webimages/pcn_bg.jpg);
    background-repeat: no-repeat;
}
#recaptchaModal .modal-dialog{width:380px}
#recaptchaModal .modal-content{border-radius:20px}
#loader_con11 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    z-index: 1080;
    display: flex;
    background-color: #14141491;
    flex-direction: column;
}
#loader_con11 p{
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.sst_loader{
    display: block;
    position: relative;
    height: 32px;
    width: 190px;
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid #FFF;
    border-radius: 20px;
}
.sst_loader:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #FF3D00;
    animation: sst_loader_animate 3s ease-in-out infinite;
    z-index: -1;
}
@keyframes sst_loader_animate {
    0% {  
        left: 0; 
        transform: translateX(0%); 
        box-shadow: 
        -5px 0 0 -4px rgba(255, 61, 0, 0.6),
        -10px 0 0 -6px rgba(255, 61, 0, 0.4),
        -15px 0 0 -8px rgba(255, 61, 0, 0.2);
    }
    49% {  
        left: 100%; 
        transform: translateX(-100%); 
        box-shadow: 
        -5px 0 0 -4px rgba(255, 61, 0, 0.6),
        -10px 0 0 -6px rgba(255, 61, 0, 0.4),
        -15px 0 0 -8px rgba(255, 61, 0, 0.2);
    }
    51% {  
        left: 100%; 
        transform: translateX(-100%); 
        box-shadow: 
        5px 0 0 -4px rgba(255, 61, 0, 0.6),
        10px 0 0 -6px rgba(255, 61, 0, 0.4),
        15px 0 0 -8px rgba(255, 61, 0, 0.2);
    }
    100% {  
        left: 0; 
        transform: translateX(0%); 
        box-shadow: 
        5px 0 0 -4px rgba(255, 61, 0, 0.6),
        10px 0 0 -6px rgba(255, 61, 0, 0.4),
        15px 0 0 -8px rgba(255, 61, 0, 0.2);
    }
}
.mob_search {
    background-color: #D3D8DD;
    position: relative;
}
.mob_search_inp {
    height: 40px;
    padding-right: 12px;
    text-overflow: ellipsis;
}
.border1 {
    border: 1px solid #E3E7ED;
}
.mob_search_img {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    background: #1E70B9;
}
.mob_search_inp ~ .mob_search_img .cross_icon {
    display: none;
}
.mob_search .search_output {
    display: none;
    top: 63px;
    left: 0px;
    z-index: 2;
    width: 300px;
    left: 39px;
}
.search_output a {
    min-height: 30px;
    border-bottom: 1px solid #E3E7ED;
    color: #000;
    display: inline-block;
}
.search_output b {
    font-weight: bold;
    font-size: 15px;
}
.mob_search_inp:focus ~ .mob_search_img .cross_icon {
    display: block;
    color: #000;
    z-index: 3;
    font-size: 25px;
    width: 25px;
    text-align: center;
    font-weight: 600;
    background: #fff;
    height: 30px;
    line-height: 30px;
}
@media only screen and (max-width: 767px) {
    .cus_nav{padding:10px}
    #navb{max-height:600px;overflow:auto}
    .mps {padding: 10px!important}
    .fpop_tools a{width: 50px;height: 50px}
    .fpop_tools a span{width: 30px;height: 30px}
    .sub_area .col-md-3 .text-left{text-align: center !important}
    .sub_headings{font-size: 16px;}
    .main_area{width: 97%;}
    .sede_ara{width: 100%;}
    .mps {
        padding: 10px !important;
    }
    .mob_search .search_output {
        left: 15px;
        top: 8px;
        position: inherit;
        width: 100%;
    }
}
.log_register a {
    width: 120px;
    height: 36px;
    background: #0A6CC3;
}
@media only screen and (max-width: 991px) {
    .logo_img{width: 142px}
    .mob_links_bb {border-bottom: 1px solid #e3e7ed}
    .nav-item.br_active{margin-bottom: 0px;}
    .day_night,.pro_pricing .pro_pricing_bg{display: none !important;}
    .day_night, .desk_search, .notification_bell, .user_profile, .cus_nav .navbar-nav .mdn {
        display: none;
    }
    .mob_search, .alltools_area, .mob_lang_area, .log_register, .dn_mode, .mprofile_dp {
        display: block !important;
    }
    .log_register {
        display: flex !important;
    }
}
.tool-upper-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem 0px 1rem 0rem;
}
.other-tools {
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}
.tool-upper-bar a {
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 10px;
    /* margin-right: 6px; */
    margin: 3px;
    font-weight: 600;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0px 20px 200px 100px #00000014;
}
.tool-upper-bar .other-tools{
    display: flex;
    align-items: center;
}
.g-90{min-height:101px;min-height: 100px}
.g-250{min-height:250px;min-height: 220px}
.fsg-2{
    background-image: url('../webimages/a12/fsg-2.png');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: contain;
}
.fbg-1,.fbg-2{
    background-image: url('../webimages/a12/fsg-3.png');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    max-width:300px;
    background-size: contain;
}
.fbg-2{background-image: url('../webimages/a12/fsg-4.png');}
.g_popup .bg_popup{background: #e3e7ed;}
.g_popup button.close{
    width: 26px;
    height: 26px;
    background: #000;
    opacity: 1;
}
.g_popup .heading{font-size: 33px;line-height: 40px;}
.g_popup .txt{font-size: 18px;}
.g_popup .popup_bg{
    background-image: url(../webimages/g_popup_bg.svg);
    width: 100%;
    /* min-height: 395px; */
    background-repeat: no-repeat;
    background-position: left center;
}
.g_popup .options{
    min-width: 66px;
    height: 66px;
    font-size: 23px;
    background: #00bc5e;
    z-index: 1;
}
.g_popup .opt_info_hover{
    cursor: pointer;
    transition:0.5s;
}
.g_popup .opt_info_hover:hover{transform:scale(1.03)}
.g_popup .opt_info{font-size: 16px;border: 1px solid;height: 55px;border-left: 9px solid #c8c8c8;}
.g_popup .bge32020{background: #e32020;}
body[data-theme="dark"] #feedbackModal .tool_heading{color: #fff;}