* {
    /* Apply background color globally except to buttons and form controls */
*:not(button):not(input):not(select):not(textarea):not(.btn):not([type="submit"]) {
  background-color: #f7f7f7 !important;
}
!important;
}
#inputDescription.border1{height: 242px !important;}
#elementHtmlCode .tag_clr{color: #8c55be;}
#elementHtmlCode .tagp_clr{color: #5b90e0;}
#elementHtmlCode .tagv_clr{color: #6ece4e;}