* {
    background-color: #fafdff !important;
}
#inputDescription.border1{height: 242px !important;}
#elementHtmlCode .tag_clr{color: #8c55be;}
#elementHtmlCode .tagp_clr{color: #5b90e0;}
#elementHtmlCode .tagv_clr{color: #6ece4e;}