
.pass_enc_utility .row:nth-child(even){
  background: #F5F8FA;
}
.pass_copy{
  background-image: url(../webimages/md5_copy.svg);
  width: 20px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media only screen and (max-width: 575px) {
  .md_none{display: none !important;}
  .pass_copy.md_block{
    display: block !important;
    border: 1px solid #E3E7ED;
    width: 30px;
    height: 30px;
    float: right;
  }
  .md_br{border-right: 1px solid #E3E7ED;}
}