* {
    background-color: #d1dceb !important;
}
.password_area .toggle-password{
    max-width: 48px;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../webimages/password_str1.svg);
}
.password_progress{width: 77%;}
.password_progress div{
    width: 24% !important;
    height: 6px;
    background-color: #D3D6DB;
    border-radius: 4px;
}
.password_progress .pro_bg1{background-color: #F85A58;}
.password_progress .pro_bg2{background-color: #FBAB4E;}
.password_progress .pro_bg3{background-color: #A5D144;}
.password_progress .pro_bg4{background-color: #60BF65;}
.password_progress [class*="pro_bg"]{position: relative;}
.password_progress1{
    width: 54px;
    height: 25px;
    background-color: #000;
    font-size: 11px;
    padding: 0px 5px;
    position: absolute;
    top: -35px;
    right: 0px;
    left: 0px;
}
.password_progress1:after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    left: 0px;
    right: 0px;
    top: 25px;
    width: 5px;
    position: absolute;
    margin: 0px auto;
}
.pass_heading{font-size: 19px;}
@media only screen and (max-width: 767px) {
    .password_progress, .pass_symbols div{width: 100% !important;}
}

input::-webkit-caps-lock-indicator{
    content:none !important;
    display:none !important;
}

input::-webkit-credentials-auto-fill-button{
    content:none !important;
    display:none !important;
}