* {
    /* Apply background color globally except to buttons and form controls */
*:not(button):not(input):not(select):not(textarea):not(.btn):not([type="submit"]) {
  background-color: #f7f7f7 !important;
}
!important;
}
.pokemon .topspan{
    line-height: 24px !important;
    margin-top: 43px;
}
.pokemon .topspan strong{color: #ea5050 !important;}
.pokemon .topspan div{color: #000;font-size: 13px;}