* {
    /* Apply background color globally except to buttons and form controls */
*:not(button):not(input):not(select):not(textarea):not(.btn):not([type="submit"]) {
  background-color: #f7f7f7 !important;
}
!important;
}
#qr-code-form .nav-link{
    min-width: 80px;
    height: 40px;
    font-size: 14px;
}
#qr-code-form .nav-link.active{
    background-color: #1E70B9 !important;
    color: #fff !important;
}