* {
    background-color: #fafdff !important;
}
#qr-code-form .nav-link{
    min-width: 80px;
    height: 40px;
    font-size: 14px;
}
#qr-code-form .nav-link.active{
    background-color: #1E70B9 !important;
    color: #fff !important;
}