* {
    background-color: #d1dceb !important;
}
.ip_res_head{font-size: 16px !important;}
.ip_res{font-size: 14px;}
.ip_res .box_w1{width: 8%;}
.ip_res .box_w2{width: 44%;}
.ip_res .box_w3{width: 24%;}
@media only screen and (max-width: 767px) {
    .scroll_w{width: 750px;}
}