* {
    /* Apply background color globally except to buttons and form controls */
*:not(button):not(input):not(select):not(textarea):not(.btn):not([type="submit"]) {
  background-color: #f7f7f7 !important;
}
!important;
}
.video_downloader{line-height: normal;}
.video_downloader img{
	width: 380px;
    height: 188px;
}
#video_url_wrapper{ position: relative;}

#video_url_wrapper input {
    padding-left: 3.2rem;
}
#down_icon {
    position: absolute;
    left: 6px;
    top: 9px;
}
#slider_wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}
.downBtn-wrapper{
    background: #EBEEF2;
    padding: 9px 15px;
    display: flex;
    align-items: center; 
    list-style: none;
    color: black !important;
    box-sizing: border-box;
    height: 47px;
    min-width: 235px;
}
.active_dwnloder{
    border: 1px solid red;
}
#slider_wrapper a:hover,a:active,a:visited{
    text-decoration: none;
}

.fn_scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}
.fn_scrollbar::-webkit-scrollbar-thumb {
    border-radius: 11px;
    background-color: #767676;
}
.fn_scrollbar::-webkit-scrollbar-track {
    border-radius: 11px;
    background-color: #E3E7ED;
}
@media only screen and (max-width:767px){
    .video_downloader img {
        width: 100% !important;
    }
    a.tool_btn {
        width: 272px;
        max-width: 100%;
        text-align: center;
        display: block !important;
        margin: 0 auto;
        line-height: normal;
        padding-top: 13px !important;
    }
}
#dwn_btn{
    position: absolute;
    right: 6px;
    top: 6px;
    display:none;
    background-color: #1e70b9;
    color: #fff;
    font-weight: 700;
    padding: 6px 7px;
    cursor: pointer;
}
#url.url_active{
    padding-left: 10px;
}