* {
    /* Apply background color globally except to buttons and form controls */
*:not(button):not(input):not(select):not(textarea):not(.btn):not([type="submit"]) {
  background-color: #f7f7f7 !important;
}
!important;
}
.ss_progress{height: 24px;background-color:#c4c5c6;}
.ss_progress .progress-bar{background:#1E70B9;}
.ss_progress .progress-bar span{
    position: absolute;
    width: 100%;
    color: #fff;
}
@media only screen and (max-width:640px){
    .ss_progress{position: relative;}
}