* {
    /* Apply background color globally except to buttons and form controls */
*:not(button):not(input):not(select):not(textarea):not(.btn):not([type="submit"]) {
  background-color: #f7f7f7 !important;
}
!important;
}
.url_shortener{
	border: 1px solid #C2DFF9;
	background-color: #F1F8FF;
}
.url_shortener .res_head{
	background-color: #DDEDFB;
	font-size: 16px;
}
.url_shortener .border1{border:1px solid #C2DFF9;}
.input_lable{text-align:left;font-size:14px;font-weight:bold;color:#545454;}
.limitURL{
	white-space: nowrap;
    overflow: hidden;
  	text-overflow: ellipsis;
}
.showMobile{display:none;}
@media only screen and (max-width: 767px){
	.hideMobile{display: none;}
	.showMobile{display:block;}
}