
.ip_res_head{font-size: 16px;}
.ip_res{font-size: 14px;}
.ip_res .box_w1{width: 7%;}
.ip_res .box_w2{width: 40%;}
.ip_res .box_w3{width: 16%;}
.ip_res .box_w4{width: 9%;position: relative;}
.ip_res .box_w5{width: 12%;}
.ip_res_media{
    position: absolute;
    width: 277px;
    right: 8px;
    z-index: 1;
    display: none;
    top: 90%;
    box-shadow: 0px 0px 2px 1px #E3E7ED;
    border-bottom: 3px solid #1E70B9;
}
.ip_res_media div:nth-child(even) {font-size: 14px;}
[class*="dage_toggle"]{
    background-image: url(../webimages/ip_address1.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center 7px;
    border: 1px solid #1E70B9;
}
.dage_rotate{transform: rotate(180deg);}
.wblc_info{height: 62px;font-size: 14px;}
.wblc_rclr{color: #ea5050}
.wblc_gclr{color: #55B844}
.wblc_h.cus_scrollbar{height: 400px !important;}
@media only screen and (max-width: 767px) {
    .ip_res .box_w1{width: 17%}
    .ip_res .box_w2{width: 60%}
    .ip_res .box_w4{width: 23%}
    .ip_res .mdb{display: block !important;}
    .ip_res .mdn{display: none !important;}
}